# Delta CW360LCD family; permit the active desktop user to access its USB serial port.
SUBSYSTEM=="tty", ATTRS{idVendor}=="33c3", ATTRS{idProduct}=="7788", TAG+="uaccess", MODE="0660"
SUBSYSTEM=="tty", ATTRS{idVendor}=="33c3", ATTRS{idProduct}=="7791", TAG+="uaccess", MODE="0660"
SUBSYSTEM=="tty", ATTRS{idVendor}=="33c3", ATTRS{idProduct}=="7792", TAG+="uaccess", MODE="0660"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="33c3", ATTRS{idProduct}=="7788", TAG+="uaccess", MODE="0660"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="33c3", ATTRS{idProduct}=="7791", TAG+="uaccess", MODE="0660"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="33c3", ATTRS{idProduct}=="7792", TAG+="uaccess", MODE="0660"
